<div class="container">
  <div class="row">
    <div class= "mx-auto col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" >
      <h2 class="px-4 mt-4 ml-4"><strong>マイページ</strong></h2>
    </div>
  </div>
  
  <div class="row">
  <table class='table table-borderless px-4 mt-4 ml-4'>
    <tbody>
      <tr>
        <td><h3><strong>登録情報</strong></h3></td>
        <td><%= link_to '編集する', edit_customer_path(current_customer), class: "btn btn-success" %></td>
      </tr>
    </tbody>
  </div>
  
  <div class="row">
  <table class='table table-bordered'>
    <tbody>
      <tr>
        <td>
          氏名
        </td>
        <td>
          <%= @customer.last_name%> <%= @customer.first_name %>
        </td>
      </tr>
      <tr>
        <td>
          カナ
        </td>
        <td>
          <%= @customer.last_kana_name %> <%= @customer.first_kana_name %>
        </td>
      </tr>
      <tr>
        <td>
          郵便番号
        </td>
        <td>
          <%= @customer.zip_code %>
        </td>
      </tr>
      <tr>
        <td>
          住所
        </td>
        <td>
          <%= @customer.address %>
        </td>
      </tr>
       <tr>
        <td>
          電話番号
        </td>
        <td>
          <%= @customer.phone_number %>
        </td>
      </tr>
      <tr>
        <td>
          メールアドレス
        </td>
        <td>
          <%= @customer.email %>
        </td>
      </tr>
    </tbody>
  </table>
  
  <div class="row">
  <table class='table table-borderless px-4 mt-4 ml-4'>
      <tr>
        <td><h3><strong>配送先</strong></h3></td>
        <!--配送先一覧にリンク-->
        <td><%= link_to "一覧を見る", shipping_addresses_path, class: "btn btn-primary" %></td>
      </tr>
      <tr>
        <td><h3><strong>注文履歴</strong></h3></td>
        <!--注文履歴一覧にリンク-->
        <td><%= link_to"一覧を見る", orders_path, class: "btn btn-primary" %></td>
      </tr>
  </div>
  </div>
  </div>
</div>
