<div class='container'>
  <div class='row pt-4 pb-4'>
    <div class="col-6 text-center">
      <h4><strong>商品編集</strong></h4>
    </div>
  </div>

  <%= form_with model: @item, url: admin_item_path(@item), method: :patch do |f| %>
    <table class='mx-auto'>
      <tr>
        <td class="pl-3 pb-3">商品画像</td>
        <td class="pl-3 pb-3"><%= f.file_field :image, accept: "image/*" %></td>
      </tr>
      <tr>
        <td class="pl-3 pb-3">商品名</td>
        <td class="pl-3 pb-3"><%= f.text_field :name, placeholder: "商品名" %></td>
      </tr>
      <tr>
        <td class="pl-3 pb-3">商品説明</td>
        <td class="pl-3 pb-3"><%= f.text_area :description, placeholder: "ここに説明を記述します" %></td>
      </tr>
      <tr>
        <td class="pl-3 pb-3">ジャンル</td>
        <td class="pl-3 pb-3"><%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "-- 選択してください --" %></td>
      </tr>
      <tr>
        <td class="pl-3 pb-3">税抜価格</td>
        <td class="pl-3 pb-3"><%= f.text_field :price, placeholder: "1000" %>円</td>
      </tr>
      <tr>
        <td class="pl-3 pb-3">販売ステータス</td>
        <td class="pl-3 pb-3">
          <%= f.radio_button :is_selling, :true, checked: true %>
          <%= f.label :is_selling, "販売中", { value: :true } %>
          <%= f.radio_button :is_selling, :false %>
          <%= f.label :is_selling, "売切れ", { value: :false } %>
        </td>
      </tr>
    </table>

    <div class="text-center">
      <%= f.submit "変更を保存", class: "btn btn-lg btn-success" %>
    </div>
  <% end %>
</div>