<div class='container'>
  <div class='row pt-4'>
    <h5>商品編集</h5>
  </div>

  <%= form_with model: @item, url: admin_item_path(@item), method: :patch do |f| %>
  <table class='mx-auto'>
    <tr>
      <td>商品画像</td>
      <td><%= f.file_field :image, accept: "image/*" %></td>
    </tr>
    <tr>
      <td>商品名</td>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <td>商品説明</td>
      <td><%= f.text_area :description %></td>
    </tr>
    <tr>
      <td>ジャンル</td>
      <td><%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "-- 選択してください --" %></td>
    </tr>
    <tr>
      <td>税抜価格</td>
      <td><%= f.text_field :price %>円</td>
    </tr>
    <tr>
      <td>販売ステータス</td>
      <td>
        <%= f.radio_button :is_selling, :true, checked: true %>
        <%= f.label :is_selling, "販売中", { value: :true } %>
        <%= f.radio_button :is_selling, :false %>
        <%= f.label :is_selling, "販売停止中", { value: :false } %>
      </td>
    </tr>
  </table>
  <div class="text-center">
    <%= f.submit "変更を保存" %>
  </div>
<% end %>
</div>