<div class="px-5 mx-5 mb-5">
  <h3 class="mini-title">注文履歴詳細</h3>
</div>

<table class="table table-bordered table-background">
  <tbody>
    <tr>
      <th>購入者</th>
      <td><%= current_customer.last_name+current_customer.first_name %></td>
    </tr>
    <tr>
      <th>注文日</th>
      <td><%= @order.created_at.strftime("%Y-%m-%d") %></td>
    </tr>
    <tr>
      <th>配送先</th>
      <td><%= @order.shipping_zip_code %> <%= @order.shipping_address %> <%= @order.address_name %></td>
    </tr>
    <tr>
      <th>支払方法</th>
      <td><%= @order.payment_method %></td>
    </tr>
    <tr>
      <th>注文ステータス</th>
      <td>
        <%= form_with(model: @order, url: admin_order_path(@order), method: :patch) do |f| %>

          <%= f.submit '更新' %>
        <% end %>
      </td>
    </tr>
  </body>
  < class="thead-light">
    <% @order.order_items.each do |item| %>
    <tr>
      <th style="width: 10%">商品名</th>
      <th style="width: 37%">単価</th>
      <th style="width: 23%">数量</th>
      <th style="width: 10%">小計</th>
      <th style="width: 10%">製作ステータス</th>
    </tr>
    <tr>
      <td><%= item.item.name %></td>
      <td><%= item.item.with_tax_price %></td>
      <td><%= item.quantity %></td>
      <td><%= item.subtotal %></td>
      <td><%= item.status_i18n %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="col-2 d-flex align-items-end ml-3">
  <table class="table table-borderless">
    <tr>
      <th class="table-active">商品合計</th>
      <td><%= @order.total_price %></td>
    </tr>
    <tr>
      <th class="table-active">送料</th>
      <td><%= @order.freight %></td>
    </tr>
    <tr>
      <th class="table-active">ご請求額</th>
      <td><%= @order.total_price + @order.freight %></td>
    </tr>
  </table>
</div>