<div class="container">
  <div class='row pt-4 pb-3'>
    <div class="col-10">
        <h4>ショッピングカート</h4>
    </div>
    <div class="col-2">
      <%= link_to "カートを空にする", destroy_all_path, method: :delete, class: "btn btn-danger" %>
    </div>
  </div>

  <div class="row">
    <table class="table table-bordered">
      <thead>
        <tr class="bg-light">
          <th class="align-middle">商品名</th>
          <th class="align-middle">単価(税込)</th>
          <th class="align-middle">数量</th>
          <th class="align-middle">小計</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @cart_items.each do |cart_item| %>
          <tr>
            <td class="align-middle">
              <%= image_tag cart_item.item.get_image, size: "80x50" %>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <%= cart_item.item.name %>
            </td>
            <td class="align-middle"><%= number_with_delimiter((cart_item.item.with_tax_price).floor, delimiter: ',') %></td>
            <td class="align-middle">
              <%= form_with model: cart_item, url: cart_item_path(cart_item), method: :patch do |f| %>
                <%= f.select :quantity, *[1..99] %>
                <%= f.submit "変更", class: "btn btn-success" %>
              <% end %>
            </td>
            <td class="align-middle"><%= number_with_delimiter((cart_item.subtotal).floor, delimiter: ',') %></td>
            <% @total_payment += cart_item.subtotal %>
            <td class="align-middle text-center"><%= link_to "削除する", cart_item_path(cart_item), method: :delete, class: "btn btn-danger" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="row pt-3">
    <div class="col-9">
      <%= link_to "買い物を続ける", root_path, class: "btn btn-primary" %>
    </div>
    <div class="col-3">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td class="align-middle bg-light">合計金額</td>
            <td class="align-middle"><%= number_with_delimiter((@total_payment).floor, delimiter: ',') %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row pt-3">
    <div class="col text-center">
      <%= link_to "情報入力に進む", new_order_path, class: "btn btn-lg btn-success" %>
    </div>
  </div>
</div>