<div class="container">
  <div class="row">
    <div class="mx-auto col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <h5 class="d-inline-flex bg-light px-4 my-4 ml-4">新規会員登録</h5>
    </div>
  </div>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>

      <div class="row align-items-center mb-2">
        <div class="col-2">
          <h7>名前</h7>
        </div>
        <div class="col-4 text-right">
          <div class="field">
            <%= f.label :last_name, "(姓)" %>
            <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", placeholder: "令和", size: 25 %>
          </div>
        </div>
        <div class="col-4 text-right">
          <div class="field">
            <%= f.label :first_name, "(名)" %>
            <%= f.text_field :first_name, autocomplete: "first_name", placeholder: "道子", size: 25 %>
          </div>
        </div>
      </div>

      <div class="row align-items-center mb-2">
        <div class="col-2">
          <h7>フリガナ</h7>
        </div>
        <div class="col-4 text-right">
          <div class="field">
            <%= f.label :last_kana_name, "(セイ)" %>
            <%= f.text_field :last_kana_name, autocomplete: "last_kana_name", placeholder: "レイワ", size: 25 %>
          </div>
        </div>
        <div class="col-4 text-right">
          <div class="field">
            <%= f.label :first_kana_name, "(メイ)" %>
            <%= f.text_field :first_kana_name, autocomplete: "first_kana_name", placeholder: "ミチコ", size: 25 %>
          </div>
        </div>
      </div>

      <div class="row align-items-center mb-2">
        <div class="col-2">
          <h7>メールアドレス</h7>
        </div>
        <div class="col-4 text-right">
          <div class="field">
            <%= f.email_field :email, autocomplete: "email", placeholder: "sample@example.com", size: 25 %>
          </div>
        </div>
      </div>

      <div class="row align-items-center mb-2">
        <div class="col-2">
          <h6 style="white-space: nowrap;">郵便番号(ハイフンなし)</h6>
        </div>
        <div class="col-4 text-right">
          <div class="field">
            <%= f.text_field :zip_code, autocomplete: "zip_code", placeholder: "0000000", size: 25 %>
          </div>
        </div>
      </div>

      <div class="row align-items-center mb-2">
        <div class="col-2">
          <h6>住所</h6>
        </div>
        <div class="col-8 text-right">
          <div class="field">
            <%= f.text_field :address, autocomplete: "address", placeholder: "東京都渋谷区代々木神園町0-0", size: 70 %>
          </div>
        </div>
      </div>

      <div class="row align-items-center mb-2">
        <div class="col-2">
          <h6>電話番号</h6>
        </div>
        <div class="col-4 text-right">
          <div class="field">
            <%= f.text_field :phone_number, autocomplete: "phone_number", placeholder: "00000000000", size: 25 %>
          </div>
        </div>
      </div>
      
      <div class="row align-items-center mb-2">
        <div class="col-2">
          <h6 style="white-space: nowrap;">パスワード(6文字以上)</h6>
        </div>
        <div class="col-4 text-right">
          <div class="field">
            <%= f.text_field :password, autocomplete: "new-password", size: 25 %>
          </div>
        </div>
      </div>
      
       <div class="row align-items-center mb-2">
        <div class="col-2">
          <h6 style="white-space: nowrap;">パスワード(確認用)</h6>
        </div>
        <div class="col-4 text-right">
          <div class="field">
            <%= f.text_field :password_confirmation, autocomplete: "new-password", size: 25 %>
          </div>
        </div>
      </div>
      
      <div class="actions">
        <%= f.submit "新規登録" %>
      </div>
      
      <% end %>
      
      <div class="row">
        <div class="mx-auto col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <h5 class="d-inline-flex bg-light px-4 my-4 ml-4">既に登録済みの方</h5>
        </div>
      </div>
      <%= render "public/shared/links" %>
      <a>からログインしてください。</a>
</div>