<div class="px-5 mx-5 mb-5">
  <h3 class="mini-title">注文履歴一覧</h3>
</div>
<div class="col-10 offset-1">
  <table class="table table-bordered table-background">
    <thead class="thead-light">
      <tr>
        <th style="width: 10%">注文日</th>
        <th style="width: 37%">配送先</th>
        <th style="width: 20%">注文商品</th>
        <th style="width: 10%">支払金額</th>
        <th style="width: 12%">ステータス</th>
        <th style="width: 13%">注文詳細</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= order.created_at.strftime("%Y/%m/%d") %></td>
          <td>〒<%= order.shipping_zip_code %><br>
              <%= order.shipping_address %><br>
              <%= order.address_name %></td>
          <td>
            <% order.order_items.each do |order_item| %>
              <%= order_item.item.name %><br>
            <% end %>
          </td>
          <td><%= order.total_price + order.freight %>円</td>
          <td><%= order.status_i18n %></td>
          <td>
            <div class="d-flex justify-content-center">
              <%= link_to '表示する', order_path(order), class: "btn btn-sm btn-primary mt-3" %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
