<div class="container">
  <div class="row">
    <div class="mx-auto col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <h3 class="px-4 my-4 ml-4"><strong>商品一覧</strong> <span class="small">(全<%= @items.total_count %>件)</span></h3>
    </div>
  </div>

  <div class="row">
    <table class="item-table col-12">
      <tbody>
        <% @items.each_slice(4) do |items| %>
        <tr>
          <% items.each do |item| %>
          <td>
            <div class="item-wrapper">
              <%= link_to item_path(item.id), class: "text-decoration-none text-dark" do %>
              <div class="card m-4" style="width: 200px; height: 300px;">
                <%= image_tag item.get_image(600, 600), class: "card-img-top", alt: item.name %>
                <div class="card-body">
                  <h5 class="card-title" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"><%= item.name %></h5>
                  <p class="card-text">¥<%= number_with_delimiter(item.tax_included_price) %></p>
                </div>
              </div>
              <% end %>
            </div>
          </td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row justify-content-center mb-4">
  <%= paginate @items %>
</div>