<header>
  <nav class="navbar navbar-expand-lg navbar-dark custom-bg-color">
    <div class="container">
      <a class="navbar-brand" href="/">
        <%= image_tag "linkedin_banner_image_1", style: "width: 100px; height: auto;" %>
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <div class="login-name mx-auto text-light">
          <% if customer_signed_in? %>
            <p class="my-2">
              <%= current_customer.last_name %><%= current_customer.first_name %> 様
            </p>
          <% elsif admin_signed_in? %>
            <p class="my-2">管理者　ログイン中</p>
          <% end %>
        </div>
        <ul class="navbar-nav ml-auto">
        <% if customer_signed_in? %>
          <li>
            <%= link_to customer_path(current_customer), class: 'nav-link text-light' do %>
              マイページ
            <% end %>
          </li>
          <li>
            <%= link_to items_path, class: 'nav-link text-light' do %>
              商品一覧
            <% end %>

          </li>
          <li>
            <%=  link_to cart_items_path, class: 'nav-link text-light' do %>
              カート
            <% end %>
          </li>
          <li>
            <%=  link_to destroy_customer_session_path , class: 'nav-link text-light', method: :delete do %>
              ログアウト
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to about_path, class: 'nav-link text-light' do %>
              About
            <% end %>
          </li>
          <li>
            <%= link_to items_path, class: 'nav-link text-light' do %>
              商品一覧
            <% end %>
          </li>
          <li>
            <%= link_to new_customer_registration_path,class: 'nav-link text-light' do %>
              新規登録
            <% end %>
          </li>
          <li>
            <%= link_to new_customer_session_path ,class: 'nav-link text-light' do %>
              ログイン
            <% end %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>